<!--TODO: Font selection dropdown contrast isn't correct in all colors-->
<!--TODO: Styling to indicate selected options not working-->
<quill-editor [(ngModel)]="data.content"
              [style.--workspace-bg-color]="'transparent'"
              [style.--workspace-stroke-color]="'#FFFFFF'">
    <div quill-editor-toolbar>

        <span class="ql-formats">
            <select class="ql-size">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-tags">
                <option *ngFor="let tag of tagOptions" [value]="tag"><span class="tag-option" [ngStyle]="{ 'background-color': tag }">{{tag}}</span></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <select class="ql-align">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
    </div>
</quill-editor>
