<div class="bg-slate-900 w-full h-full flex flex-col">
  <div class="flex flex-row-reverse text-white p-5">
    <span>
      <i class="material-icons px-2.5">settings</i>
      <i class="material-icons px-2.5">close</i>
    </span>
  </div>
  <!--TODO: Add Search bar and functionality-->
  <mat-tab-group class="flex-1 text-white" disableRipple>
    <mat-tab *ngFor="let userContent of userContentList" [label]="userContent.title">
      <!-- Pages tabs -->
      <!--TODO: Implement pages tabs-->
      <app-workspace [data]="userContent"></app-workspace>
    </mat-tab>
  </mat-tab-group>
</div>

