<div class="app-bg-main w-full h-full flex flex-col">
    <div class="flex flex-row-reverse text-white p-5">
    <span>
      <i class="material-icons px-2.5">settings</i>
      <i class="material-icons px-2.5">close</i>
    </span>
    </div>
    <div class="p-6">
        <p-tabView (onClose)="onTabClose($event)" (activeIndexChange)="onSelectedTabChange($event)" [(activeIndex)]="selectedTab" class="flex-1 text-white" [style]="{ 'background': 'transparent' }">
            <p-tabPanel *ngFor="let userContent of userContentList"
                        [closable]="userContentList.length > 1"
                        [headerStyle]="{ 'background-color': 'transparent', 'color': '#FFFFFF' }">
                <!-- Tab Panel header-->
                <ng-template pTemplate="header">
                    <div class="flex justify-between">
                        <input class="bg-transparent outline-0" [(ngModel)]="userContent.title">
                    </div>
                </ng-template>
                <!-- Tab Content -->
                <div [style.--workspace-bg-color]="'transparent'" class="p-4 rounded-b-lg rounded-tr-lg">
                    <app-workspace [data]="userContent"></app-workspace>
                </div>
            </p-tabPanel>
            <p-tabPanel [closable]="false">
                <ng-template pTemplate="header">
                    <div class="flex justify-between">
                        <i class="material-icons">add</i>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
<!--        <app-tab-view>-->
<!--            <app-tab-panel *ngFor="let userContent of userContentList">-->
<!--                <div tabHeader>This is for header {{userContent.title}}</div>-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>-->
<!--                <div tabBody>This is for body {{userContent.content}}</div>-->
<!--            </app-tab-panel>-->
<!--        </app-tab-view>-->
    </div>
</div>

