<div class="bg-slate-900 w-full h-full">
  <div class="flex flex-row-reverse text-white p-5">
    <span>
      <i class="material-icons px-2.5">settings</i>
      <i class="material-icons px-2.5">close</i>
    </span>
  </div>
  <!--TODO: Add Search bar and functionality-->
  <mat-tab-group class="text-white" disableRipple>
    <mat-tab>
      <!-- Pages tabs -->
      <!--TODO: Implement pages tabs-->
      <app-workspace></app-workspace>
    </mat-tab>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>

